@{
	
	Layout = "custerlayout";
}

    <!-- Preloader area end -->
    <!-- Mouse cursor area start here -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- Mouse cursor area end here -->


  
        <!-- Page banner area start here -->
        <section class="page-banner bg-image pt-130 pb-130" data-background="assets/images/banner/inner-banner.jpg">
            <div class="container">
                <h2 class="wow fadeInUp mb-15" data-wow-duration="1.1s" data-wow-delay=".1s">404 Error</h2>
                <div class="breadcrumb-list wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s">
                    <a href="index.html" class="primary-hover">
                        <i class="fa-solid fa-house me-1"></i> Home <i class="fa-regular text-white fa-angle-right"></i>
                    </a>
                    <span>Error</span>
                </div>
            </div>
        </section>
        <!-- Page banner area end here -->
        <!-- Error area start here -->
        <section class="error pt-130 pb-130">
            <div class="container">
                <h1>4<span class="primary-color">0</span>4</h1>
                <h2>Oops! Page Not Found.</h2>
                <p>The page you are looking for was never existed.</p>
        <a href="~/custermor/homepage" class="btn-one mt-40">
                    <span>
                        <i class="fa-regular me-2 fa-angles-left"></i> Back
                        Home
                    </span>
                </a>
            </div>
        </section>
        <!-- Error area end here -->
    
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width" />
	<link href='https://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="glitch-wrapper">
		<div class="glitch-text">
			ERROR 404: Not found
		</div>
	</div>

	<a href="~/custermor/homepage"><button type="button">Homepage</button></a>
	<a href="~/custermor/Logout"><button type="button">Log </button></a>

	<script $('button').hover(function(){
			$('.glitch-wrapper').toggleClass('paused');
			$('body').toggleClass('paused');
			});></script>


</body>
</html>